@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;600;700&display=swap');

:root {
/* ### Primary */

--Very-Dark-Blue: hsl(243, 87%, 12%);
--Desaturated-Blue: hsl(238, 22%, 44%);

/* ### Accent */

--Bright-Blue: hsl(224, 93%, 58%);
--Moderate-Cyan: hsl(170, 45%, 43%);

/* ### Neutral */

--Light-Grayish-Blue: hsl(240, 75%, 98%);
--Light-Gray: hsl(0, 0%, 75%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Open sans";
    
}
.top {
    margin: 65px 80px 0 80px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 81px;
}
ul {
    display: flex;
    list-style: none;
    gap: 57px;
    padding:0 1px 6px 0;
}
.h-a {
    font-family: "Raleway";
    text-decoration: none;
    color: black;
    font-size: 16.8px;
    font-weight: 400;
    letter-spacing: -0.02em;
}


main {
    margin-bottom: 164px;
}
.first {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.f-left {
    padding-bottom: 46px;
}
h1 {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 39px;
    line-height: 156%;
    letter-spacing: 0.014em;
    color: var(--Very-Dark-Blue);
}
.fyloStores {
    max-width: 607px;
    font-size: 18px;
    line-height: 132%;
    letter-spacing: 0.0035em;
    margin: 15px 0 25px 0;
    color: var(--Desaturated-Blue);
}

.m-input {
    padding: 14px 129px 14px 20px;
    border: 1px solid var(--Desaturated-Blue);
    border-radius: 4px;
    margin-right: 12px;
}
.m-button {
    padding: 13.5px 62.13px;
    font-family: "Raleway";
    font-weight: 700;
    letter-spacing:  0.002em;
    border: 1px solid hsl(225, 50%, 52%);
    border-radius: 4px;
    background-color: var(--Bright-Blue);
    color: var(--Light-Grayish-Blue)
}
.m-button:hover {
    background-color: hsl(221 100% 71%);
    cursor: pointer;
}
.illus1 {
    width: 640px;
}


.curve {
    background-image: url(../images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 114px;
}


.mid {
    display: flex;
    justify-content: space-between;
    background-color: hsl(240, 75%, 98%, 100%);
    padding: 0 80px;
}
h2 {
    padding-top: 65px;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 39px;
    letter-spacing: 0.02em
    
}
.never-let {
    font-size: 16px;
    line-height: 147%;
    margin-top: 38px;
    max-width: 575px;
}
.securely {
    font-size: 16px;
    line-height: 147%;
    margin: 17px 0 15px 0;
    max-width: 547px;
}
.seehow{
    font-size: 16px;
    line-height: 24px;
    margin-top: 15px;
    border-bottom: 1px solid var(--Moderate-Cyan);
    color: var(--Moderate-Cyan);
}
.card {
    margin: 49px 0 0 0;
}
.illus2 {
    padding-top: 88px;
    width: 541.99px;
}